@import './../../../assets/sass/_vars'

.text-link
	font-family: $font-futura
	font-size: 18px
	font-weight: 400
	line-height: normal
	text-decoration: none
	color: $color-dark-brown
	transition: color .3s ease-in-out

	&:hover
		color: $color-gentle-blue