@import './../../../assets/sass/_vars'
	
.article
	flex-shrink: 0
	border-radius: 20px
	background-color: #000C
	transition: box-shadow .3s ease-in-out
	cursor: pointer

	&:hover
		box-shadow: 4px 8px 40px 0px $color-dark-blue